# Auth Service Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
          # --- POD-LEVEL SECURITY CONTEXT ---
      # This configuration is required to meet the 'restricted' PSS
      securityContext:
        # 1. Force all containers to run as non-root
        runAsNonRoot: true
      serviceAccountName: auth-service-sa
      containers:
      - name: auth-service
        #image: daasnigeria/daasrepo:auth-service
        image: igwubor/project_portal-auth-service:v1.2.3
        imagePullPolicy: IfNotPresent  # Pull from registry
        ports:
        - containerPort: 8082
        env:
        - name: GIN_MODE
          value: "release"
        envFrom:
        - configMapRef:
            name: app-config
        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
          requests:
            memory: "64Mi"
            cpu: "50m"
        livenessProbe:
          tcpSocket:
            port: 8082
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 8082
          initialDelaySeconds: 5
          periodSeconds: 5
---
# Auth Service Service
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
  - protocol: TCP
    port: 8082
    targetPort: 8082
  type: ClusterIP